<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Secret</key>
	<string>0g0x2ioJoZYjKwvyTnuIpT1kMGekZ3go8ke9uEjg5STXu970U4</string>
	<key>consumer_Key</key>
	<string>R7kN9ni08YWdA0O2WSsdSRm3U</string>
</dict>
</plist>
